.main{
  min-height: 85vh;
  width: calc(100% - 200px);
}
.signin-page{
  min-height: 100vh;
  background: url(./assets/login-page-img.jpg) center no-repeat;
  background-size: cover;
  min-width: 100vw;
}

@media (max-width: 768px) {

  .nav,
  .footer {
    width: 100vw !important;
    margin: 0 !important;
    padding: 0 !important;
  }
}


/* carousel style */
.carousel
 {
 
  width: 100vw !important;

  

}

.carousel-item img {

height: 60vh;
  object-fit: cover;
width: 100%;
padding: 2rem;

}
.carousel-caption-bg{
  margin-bottom: 2rem;
  background-color: rgba(128, 128, 128, 0.766);
  backdrop-filter: blur(3px);
}
.just-in-wrapper {
  width: 100vw;
  margin: 0 auto;
  padding: 0 1rem;
  /* to prevent edge clipping on small screens */
}



